@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="text-container">
        <h1>Hi, I'm James Fitze!</h1>

        <div>
            <p>I'm a student at <a href="https://www.georgiancollege.ca/" target="_blank">Georgian College</a> learning to create beautiful websites!</p>
            <p>I enjoy creating simple, yet effective websites.</p>
            <br>
            <br>
            <br>
            <br>
            <p>Here are some ways to contact me:</p>
            <p>School Email - 200564025@student.georgianc.on.ca</p>
            <p>Personal Email - Jamesfitze007@gmail.com</p>
            <p>Phone Number - (431)-747-9477</p>
        </div>
    </div>

    <img src="images/JamesFitzePic.jpg" alt="picture of James Fitze" class="image"/>
</div>

<style>
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 80px);
}

.text-container p {
    font-size: 20px;
}

.image {
    max-width: 35%;
    border-radius: 50%;
    margin-right: 10%;
}

.text-container {
    max-width: 60%;
    padding: 20px;
}

@@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image {
        max-width: 50%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .text-container {
        max-width: 80%;
    }
}

@@media (max-width: 768px) {
    .image {
        max-width: 60%;
    }

    .text-container {
        max-width: 90%;
    }
}

@@media (max-width: 480px) {
    .image {
        max-width: 80%;
    }

    .text-container {
        max-width: 100%;
        padding: 10px;
    }
}
</style>
